<div class="accordion my-3" id="domainsAccordion">
  {% for domain in site.domains %}
  <div class="card">
    <div class="card-header collapsed" id="{{ domain.identifier }}" data-toggle="collapse" data-target="#collapse{{domain.identifier}}" aria-expanded="false" aria-controls="collapse{{domain.identifier}}">
      <h5 class="mb-0">
        {{ domain.title }}
      </h5>
    </div>

    <div id="collapse{{domain.identifier}}" class="collapse" aria-labelledby="{{domain.identifier}}">
      <div class="card-body">
        {% assign subdomains = site.subdomains | where:"parent", domain.identifier %}

        <div class="row">
          <div class="col-md-2">
            <h5>Subdomain</h5>
          </div>
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-4">
                <h5>Indicators</h5>
              </div>
              <div class="col-md-2">
                <h5>Connected with</h5>
              </div>
              <div class="col-md-6">
                <h5>Maturity levels</h5>
              </div>
            </div>
          </div>
        </div>

        {% for subdomain in subdomains %}
        <div class="row border-top">
          <div class="col-md-2">
            <h6>{{subdomain.title}}</h6>
          </div>
          <div class="col-md-10">
            {% for indicator in subdomain.indicators %}
              <div class="row border-top">

                <div class="col-md-4">
                  {{indicator.indicator}}
                </div>
                <div class="col-md-2">
                  {% for con in indicator.connected %}
                  <!--<div class="row border-top">
                    <div class="col-md-12">
                        <div class="d-table-cell"><strong>{{con.ind}}</strong></div>
                    </div>
                  </div>-->
                  <strong>{{con.ind}}</strong>{% unless forloop.last %}, {% endunless %}
                  {% endfor %}
                </div>
                <div class="col-md-6">
                    {% for level in indicator.levels %}
                      <div class="row border-top">
                        <div class="col-md-12">
                            <div class="d-table-cell"><strong>{{level.level}}. </strong></div><div class="d-table-cell pl-1">{{level.desc}}</div>
                        </div>
                      </div>
                    {% endfor %}
                </div>

              </div>
              {% endfor %}
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>
  {% endfor %}
</div>
