<!-- Start Sidebar -->
<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>Contact Us</h5>
        <strong><span class="text-white">E-mail: </strong><a href="#">fega.mat-model@bsc.es</a></span>
        <br />
      </div>
      <div class="col-md-6">
        <h5>About the FEGA initiative</h5>
        <span class="text-white">FEGA Maturity Model was developed with funding from the European Union’s Horizon 2020 Research and Innovation programme under grant agreement No 871075, as part of the ELIXIR-CONVERGE project.</span>
      </div>
    </div>
  </div>
</section>
<!-- End Sidebar -->

<section id="copyright">
    Copyright ©2021
</section>
