<header>
  <div class="container">
  <div class="junbotron junbotron-fluid">
    <div class="row">
      <div class="col-md-3">
        <br><br>
        <a href="/fega-mm"><img src="{{'assets/img/fega_logo_negative_draft.png' | relative_url}}" class="logo" alt="B1MG logo" padding="50px"></a>
      </div>
      <div class="col-md-9">
        <div class="title" align="left">
            <span font-size="20px"> Federated EGA</span><br>
            <strong>Maturity Level Model</strong><br>
        </div>
      </div>
    </div>
  </div>
  </div>
</header>
