<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-fega-mm-tab" data-toggle="tab" href="#nav-fega-mm" role="tab" aria-controls="nav-fega-mm" aria-selected="true">FEGA MM</a>
    <a class="nav-item nav-link" id="nav-level-definitions-tab" data-toggle="tab" href="#nav-level-definitions" role="tab" aria-controls="nav-level-definitions" aria-selected="false">Level definitions</a>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-fega-mm" role="tabpanel" aria-labelledby="nav-fega-mm-tab">
    {% include domains_accordion.html %}
  </div>

  <div class="tab-pane fade" id="nav-level-definitions" role="tabpanel" aria-labelledby="nav-level-definitions-tab">
    {% include level_definitions.html %}
  </div>
</div>
