<p style="color: red; font-weight: bold">>>>>>  gd2md-html alert:  ERRORs: 0; WARNINGs: 0; ALERTS: 1.</p>
<ul style="color: red; font-weight: bold"><li>See top comment block for details on ERRORs and WARNINGs. <li>In the converted Markdown or HTML, search for inline alerts that start with >>>>>  gd2md-html alert:  for specific instances that need correction.</ul>

<p style="color: red; font-weight: bold">Links to alert messages:</p><a href="#gdcalert1">alert1</a>

<p style="color: red; font-weight: bold">>>>>> PLEASE check and correct alert issues and delete this message and the inline alerts.<hr></p>


<h1><strong>Table of Contents</strong></h1>


<h1><strong>Table of Versions</strong></h1>


<p>
<strong>V1.0 - 2021.Aug.23rd</strong>
</p>
<p>
<strong>V1.1 - 2023.May.15th</strong>
</p>
<p>
<strong>V1.3 - 2026.Mar.25th</strong>
</p>
<h2></h2>


<h2><strong>Goal of the Federated EGA Maturity Model</strong></h2>


<p>
The Federated EGA (FEGA) Maturity Model is a mechanism to drive engagement of FEGA Nodes being part of the EGA federation. The main purpose of the FEGA Maturity Model is to provide a tool to self-assess readiness and operations for running a FEGA Node in a sustainable and standardized manner. It should aid in making rational decisions on goal setting, planning and required investments to form the FEGA Node’s roadmap.
</p>
<p>
FEGA offers a range of tools to help upcoming Nodes in their journey in addition to this maturity model, they are provided in the <a href="https://ega-archive.github.io/FEGA-onboarding/">FEGA onboarding website</a>, where the journey is summarized in a diagram. Indeed, the presentation of self assessment through this maturity model is depicted as a crucial final step, as it encompasses all aspects of forming and operating a FEGA Node.
</p>
<p>
The FEGA Maturity Model aims to deliver guidance material that gives concrete steps to engage and become operational in the FEGA Network covering technical and ELSI domains. The maturity model will allow countries to coordinate the network, validate each Node against their responsibilities, ensure use of agreed international standards, and most importantly provide peer support at each step of the process of becoming a fully operational FEGA Node. 
</p>
<h3><strong>Impact</strong></h3>


<p>
The main impact of the FEGA Maturity Model will be to increase adoption of FEGA across Europe and worldwide. This work also benefited from the competence gathered in ELIXIR-Converge to facilitate the development of the FEGA Node Maturity Model by examining how this model aligns with the national and regional plans for sensitive data sharing initiatives.
</p>
<h2><strong>What is a Maturity Model</strong></h2>


<p>
A maturity model is a framework for measuring an organization's maturity; in this case, the maturity of a FEGA Node. In other words, a node’s <em>maturity</em> is its ability to operate and improve in one or more specific domains. Most maturity models contain domains and subdomains that assess readiness levels of people, processes, infrastructures, and technologies, although any domains that are useful to support a developing and operating node can be included. The higher the maturity of a given domain, the more ready a node is to meet stakeholder needs and provide services for users within this domain.
</p>
<h2><strong>How the FEGA Maturity Model was created</strong></h2>


<p>
The FEGA Maturity Model was created as part of ELIXIR-Converge WP7 by a task force including representatives of Central EGA, ELIXIR and 2 inaugural FEGA Nodes and was generated in alignment with several other maturity models being created across ELIXIR projects including the Human Data Infrastructure Maturity Model, Beyond 1 Million Genomes (B1MG) Maturity Model for genomics in personalized medicine, and the Genomic Data Infrastructure (GDI) Maturity Model for measuring a country’s human data infrastructure advancement. The contents of the model are designed to align with and bring together the outputs of several key projects, communities, and partnerships. FEGA fills a major technological role underpinning the infrastructure and is a major output of the ELIXIR Federated Human Data Community.  
</p>
<p>
The Global Alliance for Genomics and Health (GA4GH) is the global standards setting body for genomics and related health data sharing and is a strategic partner of ELIXIR. The use of global, or European-wide standards is critical for the harmonization and interoperability of the entire network, and therefore strongly encouraged. When a standard that is used throughout the infrastructure cannot be used directly by a FEGA Node, choosing a compatible option is highly recommended. 
</p>
<p>
To support development of the maturity model the 6 inaugural FEGA Nodes acted as pilot studies, using the model to ensure that the content and tools are as useful as possible. This pilot round was completed and feedback is continuously collected from new onboarding nodes to continue improving the model.
</p>
<h2><strong>How to use the FEGA Maturity Model</strong></h2>


<p>
Maturity models can assist organizations with a range of advancement needs, depending upon their design and use. The FEGA Maturity Model is designed mainly to:<br>
</p>
<ol>

<li>Help the FEGA Node set its organizational and technical goals and their timeline;</li>

<li>Determine where the FEGA Node is in terms of advancement across a broad range of areas;</li>

<li>Support the FEGA Node in reaching their advancement goals.<br></li>
</ol>
<p>
Before detailing how the model can help you achieve these outcomes, this guide will explain the basic structure of the model.
</p>
<h3><strong>Model structure</strong></h3>


<p>
This model is divided into different domains, subdomains and indicators. The six domains of the FEGA Maturity Model are listed below:
</p>
<ol>

<li><strong>Governance, Strategy & Sustainability</strong>: This domain contains all indicators related to the establishment, management and long-term operation of the FEGA Node. Indicators are deemed to provide a guideline to ensure strategic alignment with the <a href="https://ega-archive.org/about/projects-and-funders/federated-ega/">FEGA ecosystem</a> while allowing each FEGA Node to respond to the requirement of their decision/policy/funding making bodies.</li>

<li><strong>Legal</strong>: This domain contains all relevant aspects regarding the legal framework and governance to operate a FEGA Node.</li>

<li><strong>Data and metadata management</strong>: This domain contains all indicators related to the secure management of sensitive data and associated metadata following existing norms and regulations at institutional, regional, national and, if appropriate, European level.</li>

<li><strong>Technical infrastructure</strong>: This domain contains all the indicators about the technical infrastructure needed for the FEGA Nodes to be part of the network. It includes software stack, technical benchmarking, storage system and network interfaces.</li>

<li><strong>Operations support</strong>: This domain contains all indicators related to the Standard Operating Procedures (SOPs) and documentation needed for FEGA staff to complete their tasks in accordance with regulations and laws.</li>

<li><strong>Communications, Community Building, and Engagement</strong>: This domain covers all aspects related to the communication and outreach activities of the FEGA Node, including specific actions with relevant research communities. As part of the transversal activities, this domain also includes aspects on Capacity building in connection with the FEGA ecosystem.</li>
</ol>
<p>
Under each domain are one or more subdomains which deal with mid-level concepts such as “Sustainability model of the FEGA Node.”, under the “Governance, Strategy & Sustainability” domain which narrows down the domain topic to more detailed areas. Finally, under each subdomain, there are one or more indicators, which cover a specific organizational or technical attribute for advancement, such as “Immediate resources.” (Figure 1).
</p>
<p>


<p id="gdcalert1" ><span style="color: red; font-weight: bold">>>>>>  gd2md-html alert: inline image link here (to images/image1.png). Store image on your image server and adjust path/filename/extension if necessary. </span><br>(<a href="#">Back to top</a>)(<a href="#gdcalert2">Next alert</a>)<br><span style="color: red; font-weight: bold">>>>>> </span></p>


<img src="img/fega_mm_structure.png" width="" alt="alt_text" title="FEGA Maturity Model Structure">

</p>
<p>
<strong>Figure 1</strong>. Structure of the FEGA Maturity Model, highlighting the path to consider immediate and long-term resources along the dark orange path. A FEGA Node can assess its status at one of five levels for each indicator.
</p>
<p>
Each indicator has 5 levels (Table 1), where the first two levels are deemed to drive the initial interactions of an organization willing to join the FEGA ecosystem. Levels 3 and 4 aim to establish clear guidelines to reach a fully operational FEGA Node. Level 5 is designed to facilitate periodic review of the different indicators as well as to ensure the adoption of the most up-to-date technical and legal specifications.
</p>
<p>
<strong>Table 1.</strong> Definition of the five levels for the FEGA Maturity Model.
</p>

<table>
  <tr>
   <td rowspan="2" >To enter
   </td>
   <td><strong>1</strong>
   </td>
   <td>No specific actions taken towards a fully operational Node
   </td>
  </tr>
  <tr>
   <td><strong>2</strong>
   </td>
   <td>Being aware of the needs and initial actions taken to become a Node of the federation
   </td>
  </tr>
  <tr>
   <td rowspan="2" >To reach fully operational mode
   </td>
   <td><strong>3</strong>
   </td>
   <td>Working to be minimally operational
   </td>
  </tr>
  <tr>
   <td><strong>4</strong>
   </td>
   <td>Entering full operational mode
   </td>
  </tr>
  <tr>
   <td>To periodic review
   </td>
   <td><strong>5</strong>
   </td>
   <td>Keep your full operational mode with periodic reviews of the status
   </td>
  </tr>
</table>


<p>
Taking the example of the “Immediate resources” indicator for a FEGA Node sustainability model (Figure 1), the levels could be translated to the following: 
</p>
<ol>

<li>No funding plan is available nor proposed (Initial)</li>

<li>Initial cost plan being developed (Aware)</li>

<li>Cost plan developed and approved (Minimally operational)</li>

<li>Cost plan developed and implemented with some resources (Fully operational)</li>

<li>Cost plan fully implemented with planning underway for the next 4 years (Periodic review)</li>
</ol>
<h3><strong>Prioritization of Indicators</strong></h3>


<p>
If the indicators are not prioritized, the FEGA Maturity Model lacks clear criteria for determining when a Node is mature enough to join FEGA. Also, relying solely on a score of 4 out of 5 for every indicator may discourage early engagement and it does not consider the context and mandate of each FEGA Node. To address this, indicators are divided into three categories: essential (requires a minimum score of 4/5), important (requires a score of 3/5), and useful (requires a score of 2/5).
</p>
<p>
High compliance with essential indicators establishes minimum requirements for maturity, while medium compliance with important indicators reinforces maturity. Additionally, achieving high compliance in a subdomain/domain can position a FEGA Node as a reference and example for others.
</p>
<h3><strong>Assembling the Assessment Team</strong></h3>


<p>
To facilitate the self-assessment process using the maturity model, an assessment team needs to be assembled, composed of a coordinator, FEGA Node decision makers and one or more domain experts who will perform the assessment. The coordinator will identify the domain experts and manage the documents and communications. The coordinator may act as an expert.
</p>
<p>
Domain experts need to be identified to cover each of the domains in the model. However, an expert can cover multiple domains and there can be multiple experts for each domain. Each member of the team will respond to one or more domains, according to expertise and the stakeholders’ scope of activities. If a domain is covered by multiple members of the team, it can be filled out either a) individually, followed by a consensus meeting where the team decides on an agreed response or b) as a group effort.
</p>
<p>
Note that some indicators are interconnected, as identified in column G “Connected with” in the FEGA Maturity Model <a href="https://docs.google.com/spreadsheets/d/1WgvwwANlRh_OPAy8RY53xfzopFMwstG08zcg3LOTyZQ/copy">Assessment Tool</a>, and as such, communication between the domains of these indicators will be necessary, if this is not possible the coordinator should bridge the two.
</p>
<p>
Prior to the start of the assessment, the coordinator should ensure that team members read this introductory documentation. 
</p>
<h3><strong>Completing the Assessment</strong></h3>


<p>
Knowing their current maturation state across the indicators allows a FEGA Node to find gaps, participate in projects and initiatives that require a particular level of maturation, and interact with the rest of the infrastructure, knowing where they can support advancement and learn from others.
</p>
<p>
The <a href="https://docs.google.com/spreadsheets/d/1WgvwwANlRh_OPAy8RY53xfzopFMwstG08zcg3LOTyZQ/copy">Assessment Tool</a> can be used to determine the current maturation state of the FEGA Node. This requires the user to assess the FEGA Node at one of the four levels for each indicator within the model.  There is a “Rationale and Evidence” field (column L) for each indicator which should be filled out. Including this information will help ensure that 1) the level chosen is objective; and 2) support periodic use of the model to measure progress. Examples of information to be included in this field are: planning documents links, legal document links, project outputs or simple notes on the current status.
</p>
<p>
Within the <a href="https://docs.google.com/spreadsheets/d/1WgvwwANlRh_OPAy8RY53xfzopFMwstG08zcg3LOTyZQ/copy">Assessment Tool</a>, all domains can be filled by the Assessment team members. If team members choose to fill out the assessment individually, the coordinator can multiply each Section tab as many times as necessary and then the team can work together upon completion to come up with a consensus.
</p>
<p>
The domain experts would then assess the Maturity Level for the FEGA Node’s current state. The rationale for the choice of maturity level for each indicator should be provided in column “Rationale and Evidence”. Evidence supporting this rationale must be referred in this column (eg. published documents, URLs, records, etc). This encourages the assessment to be performed in an evidence-supported manner and also allows progress to be clearly seen in future assessments. In case one of the levels contains several items, the rationale is that all of them have to be achieved to reach that level of maturity. In case different requirements (e.g. computing requirements) in the same indicator are reached at different levels within a FEGA Node, the indicator level should be the minimum common. Given each use-case is different, the choice of maturity level is ultimately up to the FEGA Node, but should also be properly justified. 
</p>
<p>
The FEGA Maturity Model is designed to be reviewed at regular intervals (for example, annually or biannually) to measure progress. For future iterations, it is recommended that a new copy is made of the previous year’s assessment.
</p>
<p>
For technical procedures, the FEGA Maturity Model recommends to follow best practice ensuring security; some of those are compiled and shared by current FEGA Nodes and available on the  <a href="https://ega-archive.github.io/FEGA-onboarding/">FEGA onboarding website</a>. 
</p>
<h3><strong>Helping the Node’s Organizational Goals & Timeline</strong></h3>


<p>
Once a Node is aware of their current maturity state, they can set goals and timelines for the advancement of each indicator.
</p>
<p>
It is not always easy to pick these dates, so the model has three tools to help support choosing this.  One is the “Connected with” column which helps you see other relevant indicators which may impact when work can be started or completed. Secondly, the “Rationale and evidence” column that serves two purposes; 1) to provide a valuable baseline to clearly demonstrate improvements and progression towards a higher level of maturity in any future assessments, and 2) to assist in using the outputs of this model to support funding applications by justifying the Node’s needs.
</p>
<p>
The key person for setting the maturity goals and timelines may be a decision maker, such as the Head of Node. This step should be performed the first time the model is used and reviewed upon future applications of the model to ensure goals and objectives have not been changed. The key person will guide the Team to define a vision and strategy for their Node, one of the first and most critical steps. The vision and strategy could be as detailed as the Team sees fit, as long as they serve their scope. 
</p>
<h3><strong>Action Plan</strong></h3>


<p>
After the assessment is complete, the Node can identify and plan the next steps towards optimizing their FEGA Node. Planning further actions will feed on the analysis of the maturity assessment, but needs to consider additional issues, for instance the regional or national system, and Node objectives and resources. At the stage of developing an action plan, it is important to consider engaging other Node and infrastructure members whose expertise can effectively help the implementation of the action plan.
</p>
<p>
Some discussion topics can be addressed to construct the action plan:
</p>
<ul>

<li>Where are the strengths and where are the challenges?</li>

<li>What are the maturity goals for each domain?</li>

<li>Are there contextual priorities?</li>

<li>Which domains need more investment? </li>

<li>In which domains is progress easier?</li>

<li>Which issues are bottlenecks for progression?</li>
</ul>
<p>
The FEGA Maturity Model is an instrument for self-assessment of current status, but also offers a framework for progression and can help build or update a Node’s roadmap. The indicators and maturity levels provide reference points to define the desired or possible maturity status, and also to determine the processes, structures and capacities that need to be built to reach higher maturity. Once an updated roadmap or action plan is implemented, the indicators can be used to monitor progress along the path for maturity.
</p>
<h2><strong>Giving Feedback</strong></h2>


<p>
As a user of the FEGA Maturity Model, your feedback is valuable. There is a survey in the last tab of the <a href="https://docs.google.com/spreadsheets/d/1WgvwwANlRh_OPAy8RY53xfzopFMwstG08zcg3LOTyZQ/copy">Assessment Tool</a> as well as space for broader feedback.
</p>
<p>
Alternatively, for a detailed request, you may add an Issue to the <a href="https://github.com/inab/fega-mm">Github repository</a>. Please reach out to be added. And of course, for any questions, email <a href="mailto:fega-info@lists.ega-archive.org">fega-info@lists.ega-archive.org</a><strong>.   </strong>
</p>
<h2><strong>Acronyms and Terms</strong></h2>


<p>
<strong>API</strong>:Application Programming Interface. A software intermediary that allows two applications to talk to each other.
</p>
<p>
<strong>Communication package</strong>: Includes both material and planned dissemination for the Node. 
</p>
<p>
<strong>DAC</strong>: Data Access Committee
</p>
<p>
<strong>DPA</strong>: Data Protection agreement
</p>
<p>
<strong>DPIA</strong>: Data Protection Impact Analysis
</p>
<p>
<strong>DPO</strong>: Data protection officer
</p>
<p>
<strong>DUO</strong>: Data Use Ontology
</p>
<p>
<strong>FEGA</strong>: Federated European Genome-phenome Archive
</p>
<p>
<strong>FEGA ecosystem</strong>: The interconnected network of organisations within the FEGA. These are represented at the Strategic and Operations committees. 
</p>
<p>
<strong>GA4GH</strong>: Global Alliance for Health and Genomics
</p>
<p>
<strong>KPI</strong>: Key Performance Indicator
</p>
<p>
<strong>Metadata</strong>: Data that provides information about other data. For example, the origin of the data, the processing details,  the sharing permissions, and links to other related data.
</p>
<p>
<strong>SOP</strong>: Standard Operating Procedure
</p>